body{
font-family: 'Open Sans', sans-serif;}
h1{
      font-size: 50px;
}
.orange-color{
      color: orange;
}
section{
      display: flex;
}
.half-width{
      width: 50%;
      padding: 2%;
}
.half-width img{
      width: 80%;
}
.link-button{
      text-decoration: none;
      background-color: orange;
      padding: 10px 30px;
      border-radius: 5px;
      background-image: linear-gradient(orange, tomato);
      color: white;
       font-weight: 700;

}