body{
font-family: 'Open Sans', sans-serif;
margin: 0;}
h1{
      font-size: 50px;
}
.orange-color{
      color: orange;
}
.flexible-container{
      display: flex;
      margin-bottom: 150px;
}
.half-width{
      width: 50%;
      padding: 2%;
}
.half-width img{
      width: 80%;
}
.link-button{
      text-decoration: none;
      background-color: orange;
      padding: 10px 30px;
      border-radius: 5px;
      background-image: linear-gradient(orange, tomato);
      color: white;
       font-weight: 700;

}
.top-banner{
      background-image: url(images/top-banner.png);
      background-repeat: no-repeat;
}
.dream-big{
      background-image: url(images/dream-bg.png);
      background-repeat: no-repeat;  
      background-position: right; 
}
.experience-item{
      box-shadow: 10px 10px 35px gray;
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      padding: 20px;
      
      border-radius: 15px;
}
.experience-area{
      background-image: url(images/exp-bg.png);
      background-repeat: no-repeat;  
      background-position: left;
}
#baby{
      border-left: 10px blue solid;
}
#full{
      border-left: greenyellow 10px solid;
}
footer{
      text-align: center;
      /* color: darkred;
      font-size: medium;
      text-decoration: none; */
}
#footer{
      color: rgb(180, 253, 10);
      text-decoration: none;
      font-size: medium;
      font-weight: 600;
      background-image: linear-gradient(orange,tomato);
      border-radius: 10px;
}

